# Build Results
[Bb]in/
[Oo]bj/
dist/
# Inno Setup
InnoOutput/
CustomInstallerOutput/
UninstallerOutput/
publish/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Executables & Archives
*.exe
*.dll
*.pdb
*.zip
*.7z
*.rar

# NuGet
packages/

# Temporary files
*.log
*.tmp
*.bak
*.cache

# OS generated
Thumbs.db
Desktop.ini
.DS_Store

# Exceptions (if you have assets that are meant to be tracked)
!Assets/*.png
!Assets/*.ico
!Resources/*.xaml

Music/
